
$text-color: white;


@mixin box-shadow($color){
    box-shadow: 3px 3px 4px 1px $color;
}

@mixin text-effect($val){
    @if $val == danger {
        color: red;
    }
    @else if $val == alert {
        color: yellow;
    }
    @else{
        color: black;
    }
}

body {
    background-color: #7159c1;
    color: $text-color;
}

.container {
    @include box-shadow(rgba(0,0,0,0.6));
    width: 200px;
    height: 200px;
    background-color: white;
    $text-color2: rgb(0, 17, 255);

    color: white;

    p {
        @include text-effect(none);
    
    }
}


/*percorre as classes de text*/
@for $i from 1 through 5 {
    .text-#{$i} {
        font-size: 15px * $i;
    }
}